body {
}
.navbar{
    background-color:rgb(255 255 255) !important;
    border:none;
    color:black !important;
    padding:0px;
}
/*.collapse ul.navbar-nav > li > a {
    color:black !important;
}*/

.collapse ul.navbar-nav > li > a:hover{
    color: green !important;
    font-size:20px;
    transition:ease-in 0.3s;
}

