@model dynamic
@{
    ViewBag.Title = "View";
}


<h2 class="text-center">My Cart</h2>

<br />

<br />
<table class="table">
    <thead class="thead-dark" style="background-color: #006EB3 ">
        <tr>
            <th class="col-md-2 text-center">Name</th>
            <th class="col-md-2 text-center">Price</th>
            <th class="col-md-2 text-center">Unit</th>
            <th class="col-md-2 text-center">Weight</th>
            <th class="col-md-2 text-center">Quantity</th>
            <th class="col-md-2 text-center"></th>
        </tr>
    </thead>
</table>

@foreach (var item in Model)
{
    <form id=@item.ID>
        <table class="table" style="background-color: aquamarine  ">
            <tbody>
                <tr>
                    <td class="col-md-2 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.Price</td>
                    <td class="col-md-2 text-center">@item.Units</td>
                    <td>
                        
                         <input type="button" value="-" class="minus" id="min">
                           
                         <input name="qty" id="quantity" type="text" value="1" class="qty" style="width:90px">
                            
                         <input type="button" value="+" class="plus" id="plus">
                            
                      
                    <td>
                        <input type="button" value="-" class="minus" id="min">

                        <input name="qty" id="quantity" type="text" value="1" class="qty" style="width:90px">

                        <input type="button" value="+" class="plus" id="plus">
                    </td>
                    <td class="col-md-2 text-center"> <button type="submit" id="submitBtn" class="btn AddItemBtn btn-primary">Add</button></td>
                </tr>
            </tbody>
        </table>
    </form>

}
<script>
    $('.minus').click(function () {
        quantityField = $(this).next();
        if (quantityField.val() != 0) {
            quantityField.val(parseInt(quantityField.val(), 10) - 1);
        }
    });
    $('.plus').click(function () {
        quantityField = $(this).prev();
        quantityField.val(parseInt(quantityField.val(), 10) + 1);
    });
</script>


