@model dynamic
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="row">
    <div class="col-md-3">
        Id
    </div>
    <div class="col-md-3">
        Name
    </div>
    <div class="col-md-3">
        Price
    </div>
    <div class="col-md-3">
        Unit Id
    </div>
</div>
@foreach(var item in Model)
            {
<form id=@item.ID>
    <div class="row">
        <div class="col-md-2">
            @item.Name
        </div>
        <div class="col-md-2">
            @item.Price
        </div>
        <div class="col-md-2">
            @item.Units
        </div>
        <div class="col-md-2">
            Weight<input type="text" id="itemWeight" />
        </div>
        <div class="col-md-2">
            Quantity<input type="text" id="itemQuantity" />
        </div>
        <div class="col-md-2">
            <button type="submit" id="submitBtn" class="btn AddItemBtn btn-primary">Add</button>
        </div>
    </div>
</form>
            }

<script>
    $('form').submit((event) => {
        event.preventDefault();
        var sBtn = event.target.submitBtn;
        var customerId = @Session["UserId"].ToString();
        var itemId = event.currentTarget.id;
        console.log($(sBtn).html())
        if ($(sBtn).html() == "Remove") {
            $.ajax({
                url: "RemoveCartItem",
                type:"post",
                data: { CustomerId: customerId, ItemId: itemId },
                success: () =>{
                $(sBtn).html("Add")
            },
                error: () => {
                    alert("Error in deleting item");
                }
            })
        }
        else {
            var wt = event.target.itemWeight.value;
            var qty = event.target.itemQuantity.value;
            var obj =
            {
                CustomerId: customerId,
                ItemId: itemId,
                Quantity: qty,
                Weight: wt
            }

            $.ajax({
                url: "AddToCart",
                type: 'post',
                data: obj,
                success: () => {
                    $(sBtn).html("Remove");
                },
                error: () => {
                    alert("Error in adding item");
                }

            });
        }


    });
</script>


